$top-nav-color: #599b32d5;
$top-nav-dark-color: rgba(26, 27, 25, 0.84);
$primary-bg-color:#599b322c;
$accent-color: #e91e63;
$background-dark: #121212;
$text-light: #ffffff;
$text-dark: #333333;
$light-theme-colors:#599b32d5;
$button-bg-color: #228a0d;
$primary-bg-color-alt:  #7da85af5;
$submit-btn-bg: #0ccac1;

