<div class="posts-container">
    <div class="posts-header center-header">
    <h2 class="title feed-title">Feed</h2>

    <div class="actions">
        <!-- REFRESH BUTTON -->
        <button class="action-btn icon-btn"
                [ngClass]="refreshActive ? 'active-icon' : ''"
                (click)="toggleRefresh()">
            <mat-icon>refresh</mat-icon>
        </button>

        <!-- FILTER BUTTON -->
        <button class="action-btn icon-btn"
                [ngClass]="filterActive ? 'active-icon' : ''"
                (click)="toggleFilter()">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>
</div>
    <div class="posts-scroll">
        @if (posts().length === 0) {
        <p class="empty-state">No posts yet.</p>
        }
        @for (post of posts(); track post.id) {
        <div class="post-card">
            <div class="post-header">
                <img class="post-avatar" [src]="'https://localhost:7162'+post.postOwnerImage" />
                <div>
                    <h3 class="post-title">{{ post.postTitle }}</h3>
                    <h4>{{ post.postOwnerName }}</h4>
                    <span class="timestamp">{{ post.postCreationDate | date:'short' }}</span>
                </div>
            </div>
            <p class="post-content">{{ post.postContent }}</p>
            <div>
                <button mat-raised-button class="like-btn" [ngClass]="post.liked ? 'likeButton' : ''"
                    (click)="buttonAction(post,1)">
                    <mat-icon>thumb_up</mat-icon>
                    @if(post.postLikes > 0) {
                    <span>{{post.postLikes}}</span>
                    }
                </button>

                <button mat-raised-button class="dislike-btn" [ngClass]="post.disLiked ? 'disLikeButton': ''"
                    (click)="buttonAction(post,2)">
                    <mat-icon>thumb_down</mat-icon>
                    @if(post.postDisLikes > 0) {
                    <span>{{post.postDisLikes}}</span>
                    }
                </button>
            </div>
        </div>
        }
    </div>
</div>