<mat-card class="user-card mat-elevation-z3">

  <img class="avatar" [src]="'https://localhost:7162' + userDetails()?.filePath" />

  <div class="name-row">
        <mat-icon
          class="gender-icon"
          [ngClass]="{
            'male': userDetails()?.gender === 1,
            'female': userDetails()?.gender === 2,
            'other': userDetails()?.gender === 3}">  
            {{userDetails()?.gender === 1 ? 
            'male': userDetails()?.gender === 2 ? 
            'female': userDetails()?.gender === 3 ? 
            'person': 'Not Defined' }}        
        </mat-icon>
    </div>
    <h3 class="user-name">{{ userDetails()?.userName }}</h3>


  <mat-divider></mat-divider>

  <div class="info-list">
    <div class="info-item">
      <mat-icon class="email">mail</mat-icon>
      <span>{{ userDetails()?.email }}</span>
    </div>

    <div class="info-item">
      <mat-icon class="phone">phone</mat-icon>
      <span>{{ userDetails()?.phoneNumber }}</span>
    </div>
  </div>

  <div class="actions">
    <button mat-icon-button matTooltip="Edit Profile"color="primary" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button color="warn" matTooltip="Delete Account" (click)="deleteUser()">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-icon-button color="accent" matTooltip="Logout" (click)="logout()">
      <mat-icon>logout_variant</mat-icon> <!-- New icon -->
    </button>
  </div>

</mat-card>
