<mat-card class="user-card mat-elevation-z3">


<img class="avatar" [src]="'https://localhost:7162' + userDetails()?.filePath" />


<!-- Name row with gender icon -->
<div class="name-row">
@for (gender of gendersList; track $index) {
@if (gender.key === userDetails()?.gender) {
<mat-icon class="gender-icon" [ngStyle]="{ color: gender.color }">{{ gender.icon }}</mat-icon>
}
}
<h3>{{ userDetails()?.userName }}</h3>
</div>


<mat-divider></mat-divider>


<div class="info-list">
<div class="info-item">
<mat-icon style="color:#1976d2">mail</mat-icon>
<span>{{ userDetails()?.email }}</span>
</div>


<div class="info-item">
<mat-icon style="color:#388e3c">phone</mat-icon>
<span>{{ userDetails()?.phoneNumber }}</span>
</div>
</div>


<div class="actions">
<button mat-raised-button color="primary" matTooltip="Edit Profile" class="action-filled">
<mat-icon>edit</mat-icon>
</button>


<button mat-raised-button color="warn" matTooltip="Logout" class="action-filled" (click)="logout()">
<mat-icon>logout</mat-icon>
</button>
</div>
</mat-card>