<h2>Create Post</h2>
<div class="post-box">
    <input placeholder="Title"[(ngModel)]="titleInput">
    <textarea placeholder="Write something..."[(ngModel)]="contentInput"></textarea>
    <div class="actions">
        <button mat-icon-button color="primary" matTooltip="Post" class="post-btn"(click)="createPost()">
            <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Clear" class="clear-btn"(click)="titleInput = contentInput = ''">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>