<div class="people-page">
    <div class="people-header">
        <div class="title-row">
            <span class="tag">Users</span>
        </div>

        <div class="search-row">
            <mat-icon>search</mat-icon>
            <input placeholder="Search people..."[(ngModel)]="searchUsers"/>
        </div>
    </div>
    <div class="people-scroll">
        <div class="people-grid">
            @for (user of usersList | searchFilter : searchUsers : { key: 'userName', mode: 'starts' }; track user.userId) {
            <div class="user-card">
                <div class="avatar-wrapper">
                    <img class="avatar" [src]="'https://localhost:7162'+user.filePath" />
                </div>
                <div class="card-actions">
                    <button mat-icon-button><mat-icon>person_add</mat-icon></button>
                    <button mat-icon-button><mat-icon>chat</mat-icon></button>
                    <button mat-icon-button color="warn">
                        <mat-icon>person_remove</mat-icon>
                    </button>
                </div>
                <div class="info">
                    <div class="name">{{ user.userName }}</div>
                    <div class="email">{{ user.email }}</div>
                </div>
            </div>
            }
        </div>
    </div>
</div>