@use './styles/variables' as *;
@use './styles/theme' as *;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* ✅ PAGE NEVER SCROLLS */
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}